@model RHWebProjectMVC.ViewModels.PersonViewModel

@{
    ViewBag.Title = "Home Page";
}
@Html.ValidationSummary(true)
<div>
    <h2>Please Enter the details</h2>
</div>
@using (Html.BeginForm("List", "People", FormMethod.Post))
{
    <table class="table table-striped">
        <tr>
            <td>First Name: </td>
            <td>
                @Html.TextBoxFor(model => model.FirstName, new { id = "FName" })
                @Html.ValidationMessageFor(model => model.FirstName)
             </td>
        </tr>
        <tr>
            <td>Last Name: </td>
            <td>
                @Html.TextBoxFor(model => model.LastName, new { id = "LName" })
                @Html.ValidationMessageFor(model => model.LastName)
            </td>
        </tr>
        <tr>
            <td>Email Address: </td>
            <td>
                @Html.TextBoxFor(model => model.EmailAddress, new { id = "EAddress" })            
                @Html.ValidationMessageFor(model => model.EmailAddress)
            </td>
        </tr>
        <tr>
            <td>Date Of Birth: </td>
            <td>
                @Html.TextBoxFor(model => model.DateOfBirth, new { type = "date", id = "DBirth"})
                @Html.ValidationMessageFor(model => model.DateOfBirth)
            </td>
        </tr>
    </table>
    <button type="submit">Submit</button>
}

<br />
<p>
    This app takes input from the users and stores the records into a SQL database and retrieves it using Entity Framework Database first approach.
</p>

@*<script src="~/Scripts/jquery-3.3.1.min.js">
            function submit() {
                var personData = {
                    FirstName: $('#FName').val(),
                    LastName: $('#LName').val(),
                    EmailAddress: $('#EAddress').val(),
                    DateOfBirth: $('#DBirth').val(),
                };
            $.post("/PeopleController/List", { PersonViewModelObject: personData }, function () { alert('Successfully Saved') });
</script>*@